<%= form_for(@user) do |f| %>  
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('users.form.errors', :count => @user.errors.count) %> <%= t("users.form.errors_message") %></h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if (current_page?(:controller => 'posts', :action => 'new')) %>
    <div class="field">
      <%= f.label(:admin, :class => 'checkbox') do %>
        <%= f.check_box :admin %>
        <%= t("users.form.admin") %>
      <% end %>
    </div>
  <% elsif @user.admin %>
    <%= f.hidden_field :admin %>
  <% end %>

  <div class="field">
    <%= f.label :email, t("users.form.email") %>
    <%= f.email_field :email, :placeholder => t("users.form.email") %>
  </div>

  <div class="field">
    <%= f.label :name, t("users.form.name") %>
    <%= f.text_field :name, :placeholder => t("users.form.name") %>
  </div>

  <div class="field">
    <%= f.label :password, t("users.form.password") %>
    <%= f.password_field :password, :placeholder => t("users.form.password") %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, t("users.form.password_confirmation") %>
    <%= f.password_field :password_confirmation, :placeholder => t("users.form.password_confirmation") %>
  </div>

  <div class="actions">
    <%= f.submit t("users.form.save"), :id => 'create_user', :class => 'btn' %>
  </div>
<% end %>