<%= form_for(@user) do |f| %>  
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('users.form.errors', :count => @user.errors.count) %> <%= t("users.form.errors_message") %></h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if (current_page?(:controller => 'posts', :action => 'new')) %>
    <div><%= f.label :admin, t("users.form.admin") %><br />
    <%= f.check_box :admin %></div>
  <% elsif @user.admin %>
    <%= f.hidden_field :admin %>
  <% end %>

  <div><%= f.label :email, t("users.form.email") %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :name, t("users.form.name") %><br />
  <%= f.text_field :name %></div>

  <div><%= f.label :password, t("users.form.password") %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation, t("users.form.password_confirmation") %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit t("users.form.save"), :id => 'create_user', :class => 'btn' %></div>
<% end %>