<%= form_for(@user) do |f| %>  
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibido este usuario se guarde:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div><%= f.label :admin %><br />
  <%= f.check_box :admin %></div>

  <div><%= f.label :email, "Correo electr칩nico" %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password, "Contrase침a" %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation, "Contrase침a de confirmaci칩n" %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Guardar" %></div>
<% end %>