<h1><%= t("users.index.title") %></h1>

<ol>
<% @users.each do |user| %>
  <li id="<%= "user_#{user.id}" %>">
    <h2><%= user.name %></h2>
    <p><%= user.email %></p>
    <p><%= user.updated_at %></p>
    <% if current_user.try(:admin?) %>
      <% if true || current_user.access == 'super' %> 
      <span class="icon-remove"></span>
      <small>
        <%= link_to t("users.index.destroy"), user, method: :delete, data: { confirm: t("users.index.destroy_warning") }, id: "destroy" %>
      </small>
      <% end %>
    <% end %>
  </li>
<% end %>
</ol>