<nav class="navbar">
  <!-- TODO: remove top border and top border radi -->
  <div class="navbar-inner">
    <span class="brand">
      <%= t("shared.admin_nav.connected_with") %> <%= current_user.email %>
    </span>
    <ul class="nav">
      <li>
        <%= link_to t("shared.admin_nav.logout_link"), destroy_user_session_path, :id => 'sign_out', :method => :delete %>
      </li>
      <!-- TODO: active state -->
      <li class="active">
        <%= link_to t("shared.admin_nav.new_post_link"), new_post_path, :id => 'new_post_link' %>
      </li>
      <li>
        <%= link_to t("shared.admin_nav.drafts_link"), '/posts/drafts', :id => 'drafts_link' %>
      </li>
      <% if current_user.try(:admin?) %>
        <li>
          <%= link_to t("shared.admin_nav.new_user_link"), new_user_path, :id => 'new_user_link' %>
        </li>
        <li>
          <%= link_to t("shared.admin_nav.users_link"), users_path, :id => 'users_link' %>
        </li>
      <% end %>
    </ul>
</div>
</nav>