<nav>
<%= link_to 'Nueva Entrada', new_post_path %>
<%= link_to 'Borradores', posts_path %>
<% if current_user.try(:admin?) %>
<%= link_to 'Nuevo Usuario', new_user_path %>
<%= link_to 'Usuarios', users_path %>
<% end %>
<p>Conectado como <%= current_user.email %></p>
<%= link_to "Salir", destroy_user_session_path, :method => :delete %>
</nav>