<% content_for :javascripts do %>
  <%= javascript_include_tag 'admin' %>  
<% end %>

<%= form_for(@post, :builder => SmartLabelFormBuilder, :hmtl => {:multipart => true, :class => 'form-horizontal'}) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('posts.form.errors', :count => @post.errors.count) %> <%= t("posts.form.errors_message") %></h2>
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, t("posts.form.title") %>
    <%= f.text_field :title, :placeholder => t("posts.form.title") %>
  </div>
  <div class="field form-inline">
    <%= f.label(:published, :class => 'checkbox') do %>
      <%= f.check_box :published %>
      <%= t("posts.form.published") %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :summary, t("posts.form.summary") %>
    <%= f.text_area :summary, :rows => '5', :cols => '', :placeholder => t("posts.form.summary") %>
  </div>
  <div class="field">
    <%= image_tag(@post.image_url(:thumb)) if @post.image? %>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
  </div>
  <div class="field">
    <%= f.label(:remove_image, :class => 'checkbox') do %>
       <%= f.check_box :remove_image %>
      <%= t("posts.form.remove_image") %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :tag_list, t("posts.form.tag_list"), :id => 'tags-label' %>
    <%= f.text_field :tag_list %>
  </div>
  <div class="field">
    <%= f.label :content, t("posts.form.content") %>
    <%= cktext_area :post, :content %>
  </div>

  <div class="actions">
    <%= f.submit t("posts.form.create"), :id => 'submit', :class => 'btn' %>
  </div>

<% end %>