<%= form_for @post, :hmtl => {:multipart => true} do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('posts.form.errors', :count => @post.errors.count) %> <%= t("posts.form.errors_message") %></h2>
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, t("posts.form.title") %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :published, t("posts.form.published") %><br />
    <%= f.check_box :published %>
  </div>
  <div class="field">
    <%= f.label :summary, t("posts.form.summary") %><br />
    <%= f.text_area :summary %>
  </div>
  <div class="field">
    <%= image_tag(@post.image_url(:thumb)) if @post.image? %><br />
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
  </div>
  <div class="field">
    <%= f.check_box :remove_image %>
    <%= f.label :remove_image, t("posts.form.remove_image") %><br />
  </div>
  <div class="actions">
    <%= f.submit t("posts.form.create"), :class => 'btn' %>
  </div>

<% end %>