<% content_for :javascripts do %>
  <%= javascript_include_tag 'admin' %>  
<% end %>
<%= form_for(@post, :html => {:multipart => true, :class => 'form-horizontal'}, :builder => SmartLabelFormBuilder) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('posts.form.errors', :count => @post.errors.count) %> <%= t("posts.form.errors_message") %></h2>
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field control-group">
    <%= f.label :title, t("posts.form.title"), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :placeholder => t("posts.form.title"), :class => 'input-xlarge' %>
    </div>
  </div>
  <div class="field  control-group">
    <div class="controls">
      <%= f.label(:published, :class => 'checkbox ') do %>
          <%= t("posts.form.published") %>
          <%= f.check_box :published %>
      <% end %>
    </div>
  </div>

  <div class="field control-group">
    <%= f.label :image, t("posts.form.image"), :class => 'control-label' %>
    <div class="controls">
      <%= image_tag(@post.image_url(:thumb)) if @post.image? %>
      <%= f.file_field :image %>
      <%= f.hidden_field :image_cache %>
    </div>
  </div>
  <% if @post.image? %>
    <div class="field form-inline control-group">
      <div class="controls">
        <%= f.label(:remove_image, :class => 'checkbox') do %>
           <%= f.check_box :remove_image %>
          <%= t("posts.form.remove_image") %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="field control-group">
    <%= f.label :summary, t("posts.form.summary"), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :summary, :rows => '5', :cols => '', :placeholder => t("posts.form.summary"), :class => 'input-xlarge' %>
    </div>
  </div>

  <div class="field control-group">
    <%= f.label :ingredients_image, t("posts.form.ingredients_image"), :class => 'control-label' %>
    <div class="controls">
      <%= image_tag(@post.ingredients_image_url(:thumb)) if @post.ingredients_image? %>
      <%= f.file_field :ingredients_image %>
      <%= f.hidden_field :ingredients_image_cache %>
    </div>
  </div>
  <% if @post.ingredients_image? %>
    <div class="field form-inline control-group">
      <div class="controls">
        <%= f.label(:remove_ingredients_image, :class => 'checkbox') do %>
          <%= f.check_box :remove_ingredients_image %>
          <%= t("posts.form.remove_image") %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="field control-group">
    <%= f.label :ingredients, t("posts.form.ingredients_label"), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :ingredients, :rows => '5', :cols => '', :placeholder => t("posts.form.ingredients_placeholder"), :class => 'input-xlarge' %>
    </div>
  </div>

  <div class="field control-group">
    <%= f.label :preparation_image, t("posts.form.preparation_image"), :class => 'control-label' %>
    <div class="controls">
      <%= image_tag(@post.preparation_image_url(:thumb)) if @post.preparation_image? %>
      <%= f.file_field :preparation_image %>
      <%= f.hidden_field :preparation_image_cache %>
    </div>
  </div>
  <% if @post.preparation_image? %>
    <div class="field form-inline control-group">
      <div class="controls">
        <%= f.label(:remove_preparation_image, :class => 'checkbox') do %>
           <%= f.check_box :remove_preparation_image %>
          <%= t("posts.form.remove_image") %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="field control-group">
    <%= f.label :instructions, t("posts.form.instructions_label"), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :instructions, :rows => '5', :cols => '', :placeholder => t("posts.form.instructions_placeholder"), :class => 'input-xlarge' %>
    </div>
  </div>

  <div class="field control-group">
    <%= f.label :tag_list, t("posts.form.tag_list"), :id => 'tags-label', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :tag_list, :class => 'input-xlarge' %>
    </div>
  </div>
  <!-- <div class="field control-group">
    <%= f.label :content, t("posts.form.content"), :class => 'control-label' %>
    <div class="controls">
      <%= cktext_area :post, :content %>
    </div>
  </div> -->

  <div class="actions control-group">
    <div class="controls">
      <%= f.submit t("posts.form.create"), :id => 'submit', :class => 'btn btn-primary' %>
      <%= link_to t("posts.edit.cancel"), posts_path, :class => 'btn' %>
    </div>
  </div>

<% end %>