<h1><%= t("posts.index.title") %></h1>

<ol>
<% @posts.each do |post| %>
  <li>
    <h2><%= link_to post.title, post %></h2>
    <p><%= post.updated_at %></p>
    <% if post.user %>
      <p><%= t("posts.user.by") %> <%= post.user.name %></p>
    <% end %>
    <p>
      <%= t("posts.tags.name") %>: <%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
    </p>

    <% if user_signed_in? %>
    <span class="icon-pencil"></span>
    <small>
      <%= link_to t("posts.index.edit_link"), edit_post_path(post) %>
    </small>
    <span class="icon-remove"></span>
    <small>
      <%= link_to t("posts.index.destroy_link"), post, method: :delete, data: { confirm: t("posts.index.destroy_warning") } %>
    </small>
    <% end %>
  </li>
<% end %>
</ol>

<%= paginate @posts %>