<article>
<h1><%= @post.title %></h1>

<% if user_signed_in? %>
  <p id="notice"><%= notice %></p>
<% end %>

<% if @post.user %>
  <%= "#{t("posts.user.by")} " %><%= link_to @post.user.name, posts_users_path(@post.user.id) %>
<% end %>

<% if @post.summary.to_s != "" %>
  <p>
    <%= @post.summary %>
  </p>
<% end %>

<% if @post.image.to_s != "" %>
  <%= image_tag @post.image_url(:show).to_s %>
<% end %>
<p>
  <%= t("posts.tags.name") %>: <%= raw @post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
</p>
<p>
  <%= raw @post.content %>
</p>
<% if user_signed_in? && current_user == @post.user %>
  <span class="icon-pencil"></span>
  <small>
    <%= link_to t("posts.show.edit_post_link"), edit_post_path(@post) %>
  </small>
<% end %>

<h2>Comments</h2>
<%= render @post.comments %>

<% if user_signed_in? %>
  <h2>Add a comment:</h2>
  <%= render "comments/form" %>
<% end %>
</article>