<h1><%= @post.title %></h1>

<% if user_signed_in? %>
<p id="notice"><%= notice %></p>
<% end %>

<% if @post.summary %>
<p>
  <%= @post.summary %>
</p>
<% end %>

<% if @post.image %>
<p>
  <%= @post.image %>
</p>
<% end %>

<% if user_signed_in? %>
<%= link_to 'Edit', edit_post_path(@post) %>
<% end %>