<h1><%= @post.title %></h1>

<% if user_signed_in? %>
<p id="notice"><%= notice %></p>
<% end %>

<% if @post.summary.to_s != "" %>
<p>
  <%= @post.summary %>
</p>
<% end %>

<% if @post.image.to_s != "" %>
  <%= image_tag @post.image_url(:show).to_s %>
<% end %>

<% if user_signed_in? %>
<span class="icon-pencil"></span>
<small>
  <%= link_to t("posts.show.edit_post_link"), edit_post_path(@post) %>
</small>
<% end %>