<article class="post">
<header>
  <hgroup>
    <h1><%= @post.title %><i class="icon-print" id="print"></i></h1>

    <% if @post.user %>
      <h2>
        <%= "#{t("posts.user.by")} " %><%= link_to @post.user.name, posts_users_path(@post.user.id) %>
      </h2>
    <% end %>
  </hgroup>

  <% if user_signed_in? %>
    <p id="notice"><%= notice %></p>
  <% end %>
</header>

<section class="summary">
  <% if @post.image.to_s != "" %>
    <%= image_tag @post.image_url(:show).to_s %>
  <% end %>
  <% if @post.summary.to_s != "" %>
    <p>
      <%= @post.summary %>
    </p>
  <% end %>
</section>

<section class="ingredients">
  <h1><%= t("posts.ingredients_title") %></h1>
  <% if @post.ingredients_image.to_s != "" %>
    <%= image_tag @post.ingredients_image_url(:show).to_s %>
  <% end %>
  <ul>
  <% ingredients = @post.ingredients.strip.split(/(?:^\*)|(?:[\n]\*)/) %>
  <% ingredients.each do |ingredient| %>
    <% if ingredient.strip != '' %>
      <li>
        <%= ingredient.strip %>
      </li>
    <% end %>
  <% end %>
  </ul>
</section>

<section class="instructions">
  <h1><%= t("posts.instructions_title") %></h1>
  <% if @post.preparation_image.to_s != "" %>
    <%= image_tag @post.preparation_image_url(:show).to_s %>
  <% end %>
  <ol>
  <% instructions = @post.instructions.strip.split(/(?:^\*)|(?:[\n]\*)/) %>
  <% instructions.each do |instruction| %>
    <% if instruction.strip != '' %>
      <li>
        <%= instruction.strip %>
      </li>
    <% end %>
  <% end %>
  </ol>
</section>

<% if @post.tag_list.count > 0 %>
  <aside class="tags no-print">
    <h2><%= t("posts.tags.name") %></h2>
    <p><%= raw @post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>
  </aside>
<% end %>

<% if user_signed_in? && current_user == @post.user %>
  <aside class="admin-actions no-print">
    <span class="icon-pencil"></span>
    <small>
      <%= link_to t("posts.show.edit_post_link"), edit_post_path(@post) %>
    </small>
  </aside>
<% end %>

<aside class="no-print">
  <h2><%= t("comments.title") %></h2>
  <%= render @post.comments %>

  <% if user_signed_in? %>
    <h3><%= t("comments.subtitle") %> </h3>
    <%= render "comments/form" %>
  <% end %>
</aside>
</article>