<p><%= t("devise.mailer.reset_password_instructions.hello") %> <%= @resource.email %>!</p>

<p><%= t("devise.mailer.reset_password_instructions.someone_has_requested_reset") %></p>

<p><%= link_to t("devise.mailer.reset_password_instructions.reset_password_link"), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p><%= t("devise.mailer.reset_password_instructions.if_not_requested") %></p>
<p><%= t("devise.mailer.reset_password_instructions.password_wont_change") %></p>
