<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <title><%= t("layouts.application.title") %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= content_for :javascripts %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if user_signed_in? %>
  <%= render 'shared/admin_nav' %>
<% end %>
<div class="container-fluid">
  <header class="row-fluid">
    <div class="span12">
      <%= render 'shared/header' %>
    </div>
  </header>
  <div class="row-fluid">
    <div class="span9 main">
      <% if(notice) %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <% if(alert) %>
        <p class="alert"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>
    <aside class="span3 sidebar">
      <%= render 'shared/sidebar' %>
    </aside>
  </div>
  <footer class="row-fluid">
    <div class="span6 offset6">
      <%= render 'shared/footer' %>
    </div>
  </footer>
</div>
</body>
</html>
