<!DOCTYPE html>
<html lang="es">
<head>
  <title><%= t("layouts.application.title") %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if user_signed_in? %>
  <%= render 'shared/admin_nav' %>
<% end %>
<div class="container-fluid">
  <header class="row-fluid">
    <%= render 'shared/header' %>
  </header>
  <section class="row-fluid">
    <section class="span9 main">
      <% if(notice) %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <% if(alert) %>
        <p class="alert"><%= alert %></p>
      <% end %>
      <%= yield %>
    </section>
    <aside class="span3 sidebar">
      <%= render 'shared/sidebar' %>
    </aside>
  </section>
  <footer class="span6 offset6">
    <%= render 'shared/footer' %>
  </footer>
</div>
</body>
</html>
